//css store variable 

$tc: lightblue;
$bg: darkblue;
$fs: 28px;

.hedaer{
    background-color: $bg;
    color: $tc;
    font-size: $fs;
}

//Nested class 

nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: $bg;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color:$tc;
    }
}

// nested properties

.myproperties {
    font: {
        family: Helvetica, sans-serif;
        size: 18px;
        weight: bold;
    }
}

.myproperties1 {
    text: {
        align: center;
        transform: lowercase;
        overflow: hidden;
    }
}


// extends

.button-basic {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.button-danger {
    @extend .button-basic;
    background-color: red;
}

.button-success {
    @extend .button-basic;
    background-color: green;
}

.button-primary {
    @extend .button-basic;
    background-color: rgb(46, 186, 237);
}

.button-orange {
    @extend .button-basic;
    background-color: orange;
}

.button-yellow {
    @extend .button-basic;
    background-color: yellow;
}